<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.mapper.CommodityMapper">

    <resultMap id="CommodityResultMap" type="com.lyl.entity.Commodity">
        <id property="commodityId" column="commodity_id"></id>
        <result property="commodityName" column="commodity_name"></result>
        <result property="commodityDetails" column="commodity_Details"></result>
        <result property="commodityPrice" column="commodity_price"></result>
        <collection property="imagePath" ofType="string">
            <constructor>
                <arg column="image_path"/>
            </constructor>
        </collection>
    </resultMap>


    <resultMap id="EvaluationResultMap" type="com.lyl.entity.Evaluation">
        <id property="evaluationId" column="evaluation_id"></id>
        <result property="evaluationContent" column="evaluation_content"></result>
        <result property="evaluationBelongUser" column="evaluation_belong_user"></result>
        <result property="evaluationDate" column="evaluation_date"></result>
        <result property="evaluationBelongCommodity_id" column="evaluation_belong_commodity_id"></result>
        <collection property="evaluationImagePath" ofType="string">
            <constructor>
                <arg column="image_path"/>
            </constructor>
        </collection>
    </resultMap>

    <select id="selectCommodityInfoById" resultMap="CommodityResultMap" parameterType="integer">
        select c.*,i.image_path
        from commodity_info as c
        left join
        image as i
        on
        c.commodity_id=i.image_belong_commodity_id
        where i.image_belong_user='admin' and c.commodity_id=#{commodityId};
    </select>

    <select id="selectEvaluationByCommodityId" resultMap="EvaluationResultMap" resultType="list" parameterType="integer">
        select e.evaluation_belong_user,e.evaluation_content,e.evaluation_date,e.evaluation_id,e.evaluation_belong_commodity_id,i.image_path
        from evaluation as e
        left join
        (select * from image as oi where oi.image_belong_commodity_id=#{commodityId}) as i
        on
        e.evaluation_belong_user=i.image_belong_user
        where e.evaluation_belong_commodity_id=#{commodityId};
    </select>

    <select id="selectCommodityInfoAll" resultMap="CommodityResultMap" resultType="list">
        select
        c.*,i.image_path
        from commodity_info as c
        left join
        (select * from image where image_belong_user='admin') as i
        on
        c.commodity_id=i.image_belong_commodity_id;
    </select>

    <insert id="saveCommodity" parameterType="com.lyl.entity.Commodity" useGeneratedKeys="true" keyProperty="commodityId" keyColumn="commodity_id">
        insert into
        commodity_info(commodity_name, commodity_Details, commodity_price)
        values
        (#{commodity.commodityName},#{commodity.commodityDetails},#{commodity.commodityPrice});
    </insert>

    <insert id="saveCommodityImage" parameterType="com.lyl.entity.Image">
        insert into
        image(image_path, image_belong_user, image_belong_commodity_id)
        VALUES
        (#{image.imagePath},#{image.imageBelongUser},#{image.imageBelongCommodityId})
    </insert>

    <insert id="saveEvaluationByCommodity" parameterType="com.lyl.entity.Evaluation" useGeneratedKeys="true" keyProperty="evaluationId" keyColumn="evaluation_id">
        insert into
        evaluation(evaluation_content, evaluation_belong_user, evaluation_belong_commodity_id)
        VALUES
        (#{evaluation.evaluationContent},#{evaluation.evaluationBelongUser},#{evaluation.evaluationBelongCommodity_id});
    </insert>

</mapper>